.utiles{
  border: 1px black dashed;
  border-radius: 15px;
  padding: 2%;
  margin: 2% 15%;
  width: 70%;
  background-color: rgb(255, 255, 255,0.2);
}
.contenedor{
  padding: 2%;
  text-align: center;
}

.btn{
  margin: 0% 6%;
  border: 2px solid;
}

.aceptar{
  margin: 0 3%;
}