<div class="contenedor">
  <form [formGroup]="form">
    <!-- El botón + adiciona los elementos del cuadrado punteado. -->
    <button
      mat-raised-button
      color="primary"
      class="btn"
      (click)="agregarUtiles()">
      +
    </button>

    <!-- El botón Eliminar todo elimina todos los elementos dentro del cuadrado punteado. -->
    <button mat-stroked-button color="warn" class="btn">Eliminar todo</button>
    <!-- utiles -->
    
    <div class="utiles" formArrayName="utiles">

      <form [formGroup]="form1">

        <p *ngFor="let util of utilesEscolares.controls; let i = index">
          <mat-form-field appearance="outline">
            <mat-label>Utiles escolares</mat-label>
            <input matInput autocomplete="off" [class.is-invalid]="nombreNoValido" formControlName="nombre" type="text">

            <mat-error *ngIf="nombreNoValido">Solo debe ingresar letras y numeros</mat-error>
          </mat-form-field>

          <mat-checkbox class="aceptar" formControlName="aceptar"
            >Aceptar</mat-checkbox
          >

          <!-- boton eliminar -->
          <button
            mat-raised-button
            color="warn"
            class="btn"
            (click)="eliminarUtil(i)"
          >
            Eliminar
          </button>
        </p>
      </form>
    </div>

    <button
      mat-stroked-button
      color="accent"
      class="btn"
      (click)="guardarCajas()"
      [disabled]="form1.invalid"
    >
      Guardar
    </button>

    <!-- El botón Limpiar coloca a un nuevo estado los elementos dentro del cuadrado punteado. -->
    <button
      mat-stroked-button
      color="primary"
      class="btn"
      (click)="limpiarCajas()"
    >
      Limpiar
    </button>
  </form>

</div>
